@charset 'utf-8';
body {
  background: #ffffff;
  width: 100%;
  margin: 0 auto;
  color: #333;
}
header {
  background: #e8e8e8;
  text-align: center;
  border-bottom: 1px solid #666;
}
header h1 {
  color: #ffffff;
  text-shadow: 2px 2px 2px #333, 0px 0px 5px #666;
  margin: 0 0 0 25px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
}
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 25px;
}
.info-float {
  width: 347.82608696px;
  display: inline-block;
}
article {
  width: 800px;
  margin: 0 auto;
  padding: 10px 10px;
}
article section {
  margin-bottom: 15px;
}
article .one .left,
article .one .right {
  width: 347.82608696px;
  display: inline-block;
}
footer {
  text-align: center;
  background: #666;
  color: #fff;
  height: 80px;
  line-height: 80px;
}
